[submodule "books/mastering-algorithms-with-c/levawc"]
	path = books/mastering-algorithms-with-c/levawc
	url = https://github.com/dale48/levawc.git
[submodule "books/head-first-c/HeadFirstC"]
	path = books/head-first-c/HeadFirstC
	url = https://github.com/dogriffiths/HeadFirstC.git
